/*

Content



x.x.    OFF CANVAS NAVIGATION 


*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}
body { 
    color:#727272;
    font-size: 0.875; (14/16px)
}


/*h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{   
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
*/


/*OFF CANVAS NAVIGATION */


.right-off-canvas-toggle .menu {
    float: right;
    display: block;
    margin: 1.5rem 1rem;
}
.hero {
    background: url(../img/starrysky.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh; 
}
.hero img.logo {
    border-radius: 50%;
    width: 10rem;
    padding: 2rem; 
}
.move-left .exit-off-canvas {
    box-shadow: none; 
}
.move-left > .inner-wrap {
    transform: translate3d(-85%, 0, 0);
}
.right-off-canvas-menu {
    width: 65%;
}
.right-off-canvas-menu {
    background: #fff;
    padding: 3rem 3rem; 
}
.right-off-canvas-menu .side-nav.main li a:not(.button) {
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    color: #323237;
    text-transform: capitalize; 
}
.right-off-canvas-menu .side-nav.main li a:not(.button) .is-active, .right-off-canvas-menu .side-nav.main li a:not(.button):hover {
    color: #f1f3f3;
    background: transparent; 
}
.right-off-canvas-menu .side-nav.secondary li a:not(.button) {
    color: #323237;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    padding-bottom: 0rem;
    text-transform: capitalize; 
}
.right-off-canvas-menu .side-nav.secondary li a:not(.button) .is-active, .right-off-canvas-menu .side-nav.secondary li a:not(.button):hover {
    color: #f1f3f3;
    background: transparent; 
}
.right-off-canvas-menu .social {
    padding-left: 0.8rem; 
}
.right-off-canvas-menu .social li {
    margin-left: 1.1rem; 
}
.right-off-canvas-menu .social i {
    font-size: 1.7rem;
    font-weight: 300;
    color: #00d7ff;
    padding: .01em .4em;
    border-radius: 50%;
    background: #333;
    border: 2px solid #333; 
}
.right-off-canvas-menu .social i:hover {
    background: #00d7ff;
    color: #333;
    transition: all 500ms ease-in .1s; 
}
.top-bar,
.middle-bar,
.bottom-bar {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin-bottom: 4px;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0; 
}
.top-bar, .bottom-bar {
  transform-origin: 100% 50%; }

.middle-bar {
    transition-property: opacity;
    transition-duration: 0.6s; 
}
.top-bar-close {
    transform: rotate(-45deg);
    background-color: #333; 
}
.middle-bar-close {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s; 
}
.bottom-bar-close {
  transform: rotate(45deg);
  background-color: #333; 
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {
        .move-left > .inner-wrap {
            transform: translate3d(-35%, 0, 0); 
        }
        .right-off-canvas-menu {
            width: 35%; 
        }


    } /* min-width 641px, medium screens */






/* MEDIA QUERIES */



/* Small screens */

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*   XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
